body {
    font-family: Arial, sans-serif;
    background-color: black;
    font-color: pink;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh; 
}
.modern-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
        
}
.full_tree {
    color: pink;
}

.parents {
    color: #7ea649;
}

.children {
    color: #c2ad38;
}

.full-tree-output-title{
    color: white
}

.parents-output-title{
    color: white
}

.children-output-title{
    color: white
}

.modern-button:hover {
    background-color: #45a049;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
    
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
    
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close:hover,
.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}

.title {
        font-weight: bold;
}

#popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

#popup-form-add-child {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid black;
        padding: 20px;
}

    
    
